<div>
  Captcha Image
</div>
<div [innerHTML]="captchaImage"></div>
<div>
  <Button (click)="getCaptcha()">Refresh Captcha</Button>
</div>
<hr />
<div>
  What's image: <input type="text" maxlength="6" [(ngModel)]="captchaText" />
  <Button (click)="validateCaptcha()">Validate Captcha</Button>

</div>
<div style="margin-top:20px;">
  Result: {{captchaValidationResult}}

</div>
